/** Variables **/
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --font-size-default: 1.5rem;
  --animation-timing-default: 0.35s;
}

/** Resets (from https://www.joshwcomeau.com/css/custom-css-reset/) **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-default);
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/** Base Styles **/
html,
body {
  background-color: var(--color-light-gray);
  font-family: "Outfit", san-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/** Classes **/
.attribution,
.card {
  top: -10px;
  transition: opacity ease-in var(--animation-timing-default),
    top ease-in var(--animation-timing-default);
}
.attribution {
  font-size: 1.2rem;
  opacity: 0;
  position: relative;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  opacity: 0;
  padding: 18px;
  position: relative;
  text-align: center;
}

.fade-in {
  opacity: 1;
  top: 0;
}

.heading,
.subtext {
  color: hsl(218, 44%, 22%);
}

.heading {
  line-height: 1;
  margin-bottom: 25px;
}

.qr-code {
  align-self: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.subtext {
  margin: 0 auto;
  max-width: 260px;
  margin-bottom: 30px;
}
